{% extends 'base.html' %}
{% block head %}
<title>Lifester</title>
{% endblock head %}
    {% block content %}
    <main class="page-container">
      <link rel="stylesheet" href='/static/css/style.css'type='text/css'>
            
            <input class="search_input" placeholder="search event"/>
            <select class="search_category">
              <option value="">Select Category</option>
            {% for category in categories %}
              <option value="{{category}}">
                  {{category}}
              </option>
            {% endfor %}
            </select>
            <table class="table">
              <tr>
                <th></th>
                <th>Event Description</th>
                <th>Location</th>
                <th>Category</th>
                <th>Price</th>
                <th>Total Seats</th>
                <th>Seats Available</th>
                <th>Date of the Event</th>
                <th>Book now</th>
              </tr>
              {% for Event in Events %}
              <tr class="eventrow table">
                <td ><img class=".img-responsive display:block" src="{{Event.coverImg.url}}" width="333" height="222"/></td>
                <td class="description">{{Event.description}}</td>
                <td>{{Event.location}}</td>
                <td class="category">{{Event.category}}</td>
                <td>{{Event.price}}</td>
                <td>{{Event.seats}}</td>
                <td>{{Event.avail_seats}}</td>
                <td>{{Event.date}}</td>
                {%if current_user%}
                <td><a class="btn btn-outline-info button2" href ="booking?eventID={{Event.id}}">
                  Book
                </a></td>
                {%endif%}
              </tr>
              {% endfor %}
            </table>
    </main>
    {% endblock content %}
    