{% extends 'base.html' %}
{% block head %}
<title>Lifester</title>
{% endblock head %}
    {% block content %}
    <main class="page-container">
            FELGRAND &hearts;
            <table class = "table">
              <tr>
                <th></th>
                <th>Event Description</th>
                <th>Location</th>
                <th>Category</th>
                <th>Price</th>
                <th>Total Seats</th>
                <th>Seats Available</th>
                <th>Book now</th>
              </tr>
              {% for Event in Events %}
              <tr>
                <td><img src="{{Event.coverImg.url}}"/></td>
                <td>{{Event.description}}</td>
                <td>{{Event.location}}</td>
                <td>{{Event.category}}</td>
                <td>{{Event.price}}</td>
                <td>{{Event.seats}}</td>
                <td>{{Event.avail_seats}}</td>
                {%if current_user%}
                <td><a class="btn btn-outline-info button2" href ="booking?eventID={{Event.id}}">
                  Book
                </a></td>
                {%endif%}
              </tr>
              {% endfor %}
            </table>
    </main>
    {% endblock content %}